.bottomBar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 15px; */
    background: #ffffff;
    border-top: 1px solid #e0e6ed;
    /* gap: 20px; */
    height: 48px;
}

@media (max-width: 768px) {
    .bottomBar {
        padding: 8px 10px;
        gap: 15px;
    }
}

.viewToggle {
    display: flex;
    background: black;
    border-radius: 20px;
    height: 30px;
    position: relative;
    gap: 2px;
    padding: 0 2px;
}

.toggleButton {
    /* padding: 6px 24px; */
    background: transparent;
    border: none;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    z-index: 2;
    transition: color 0.2s;
    width: 40px;
    display: block;
    /* background: red; */
}

.toggleButton.active {
    color: black;
}

.viewToggle::before {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    width: 40px;
    background: white;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
    z-index: 1;
}

.viewToggle:has(.toggleButton:nth-child(1).active)::before {
    transform: translateX(0);
}

.viewToggle:has(.toggleButton:nth-child(2).active)::before {
    transform: translateX(42px);
}

.viewToggle:has(.toggleButton:nth-child(3).active)::before {
    transform: translateX(84px);
}

.todayButton {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.9em;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    font-size: 0.8em;
    position: absolute;
    right: 4px;
}